@model WalletPackage

<link rel="stylesheet" href="~/css/Currencies.css" />
<link rel="stylesheet" href="~/css/Wallet.css" />


<div class="tableContainer">
	<div class="totalBalanceContainer">
		
		<div class="BalanceBox">USDT Amount: @Math.Round(Model.User.USDT_balance, 2)</div>
		<div class="BalanceBox"> Total Equity: @Math.Round(FrontendFunctions.CalculateTotalEquity(Model), 2) USD </div>
	</div>

	<table class="table table-bordered" style="width:100%">
	<thead>
		<tr style="background-color: yellowgreen">
			<th> Code </th>
			<th> Equity (USD)</th>
			<th> Balance </th>
		</tr>
	</thead>
	<tbody>
		
		@if (Model.CurrenciesValues != null)
		foreach (var CurAndVal in Model.CurrenciesValues)
		{
			<tr>
				<td> 
				<div class="CodeField">
					<img src=@($"/images/Icons/{CurAndVal.currency.Id}.svg") style="margin-right: 2px" />
					<div class="CodeSubField">
						<div style="font-size: x-large; font-weight: 500;">
							@CurAndVal.currency.Code </div>
						<div style="font-size: small; ">@CurAndVal.currency.Name </div>
					</div>
				</div>
				</td>	
				<td> @Math.Round((CurAndVal.Value * CurAndVal.currency.Value), 2).ToString().Replace(',', '.')</td>
				<td> @Math.Round(CurAndVal.Value, 3).ToString().Replace(',', '.') </td>
			</tr>
		}
	</tbody>

	</table>
</div>