@model IEnumerable<Currency>
@{
	ViewData["Title"] = "Currencies";
}
<link rel="stylesheet" href="~/css/Currencies.css" />
<table id="CurrenciesTable" class="table table-bordered table-striped style=width:100%">
	<thead>
		<tr>
			<th width="20%">Currency</th>
			<th width="20%">Value</th>
			<th width="20%">24h low</th>
			<th width="20%">24h high</th>
			<th width="20%">Change (%)</th>
		</tr>
	</thead>
	<tbody>
			@if (Model != null)
			@foreach (var currency in Model)
			{
				<tr>
					<td><img src=@($"/images/Icons/{currency.Id}.svg") width="17" style="margin-right: 2px" /> @currency.Code </td>
					<td>@FrontendFunctions.Make5Digits(currency.Value).ToString().Replace(',', '.') </td>
					<td>@FrontendFunctions.Make5Digits(currency.Low).ToString().Replace(',', '.')</td>
					<td>@FrontendFunctions.Make5Digits(currency.High).ToString().Replace(',', '.') </td>
					@if (currency.Change > 0)
					{
						<td style="color: green; font-weight: 500;"> +@currency.Change.ToString().Replace(',', '.')</td>
					}
					else if (currency.Change < 0)
					{
						<td style="color: red; font-weight: 500;"> @currency.Change.ToString().Replace(',', '.').</td>
					}
					else
					{
						<td style="color: black; font-weight: 500;"> @currency.Change.ToString().Replace(',', '.')</td>
					}
				</tr>
			}
		

		
	</tbody>
</table>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Currencies.js"></script>