@model IEnumerable<Currency>
@{
	ViewData["Title"] = "Currencies";
}
<link rel="stylesheet" href="~/css/Currencies.css" />

<table id="CurrenciesTable" class="table table-bordered table-striped style=width:100%">
	<thead>
		<tr>
			<th width="20%">Currency</th>
			<th width="20%">Value</th>
			<th width="20%">24h low</th>
			<th width="20%">24h high</th>
			<th width="20%">Change (%)</th>
		</tr>
	</thead>
	<tbody>
		
			@foreach (var currency in Model)
			{
				<tr>
					<td>@currency.Code </td>
					<td>@Math.Round(currency.Value,3) </td>
					<td>@Math.Round(currency.Low,3)</td>
					<td>@Math.Round(currency.High,3) </td>
					<td>@currency.Change </td>
				</tr>
			}
		

		
	</tbody>
</table>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Currencies.js"></script>